<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Swarm Scale Recorders</title>
    <meta name="author" content="bing@illinois.edu">
	

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css')}}">

    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/moment.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>

</head>

<script>
debugger;
$(document).ready(function() {
	$('#example').DataTable( {
        "columnDefs": [
                {className: "dt-body-center", "targets": [0, 1, 2, 3, 4, 5, 6]}
        ],
        "rowCallback": function( row, data, index ) {
            var client_timestamp = moment.utc(data[2]).local().format('YYYY/MM/DD, h:mm:ss a');
            $('td:eq(2)', row).text(client_timestamp);
        },
        "paging": true,
        "pageLength": 50,
		"bProcessing": true,
		"sAjaxSource": "{{ url_for('list_datatable') }}",
	});
} );
</script>


<body>
	
	<table class='display compact' id='example' cellspacing="0" width="100%">

		<thead>
			<tr>
				{% for col in columns %}
				<th>{{ col }}</th>
				{% endfor %}
			</tr>
		</thead>
	</table>
	
</body>

</html>
